.container2{
  width: 100%;
  margin-left:10px;
  margin-top:10px;
}
 .videotitle ul{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   list-style: none;
   text-decoration: none;
   padding:0 10px;
   color: #6B7280;
   font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;

 }
 .container2 h3{
  font-family: 'Segoe UI';
  text-transform: uppercase;

 }
.videotitle li{
  line-height: 50px;

}
.videotitle ul{
  font-size: 14px;
}
.item{
  width:100%;
}